DB_URL=jdbc:postgresql://db:5432/postgres
DB_USERNAME=postgres
DB_PASSWORD=root
DB_NAME=godo_db
DB_PORT=5432

FRONTEND_PORT=80

BACKEND_PORT=8080

MAILHOG_PORT=1025
MAILHOG_UI_PORT=8025

MAIL_HOST=mailhog

JWT_TTL=PT1M
RT_TTL=7776000000
