<div class="mt-8 flex lg:flex-row flex-column justify-content-evenly p-4 mx-4">
    <div class="flex justify-content-center flex-column align-items-center lg:m-0 my-3">
        <h2 class="text-primary text-3xl">User management</h2>
        <a routerLink="/registration-request-management" class="text-primary-200 text-xl">Registration request management</a>
    </div>
    <div class="flex justify-content-center flex-column align-items-center lg:m-0 my-3">
        <h2 class="text-primary text-3xl">Event management</h2>
    </div>
    <div class="flex justify-content-center flex-column align-items-center lg:m-0 my-3">
        <h2 class="text-primary text-3xl">Venue management</h2>
    </div>
</div>