<div class="border-2 border-gray-800 py-4 px-3 border-round-lg shadow-2 hover:border-gray-700 flex flex-column w-full h-3">
    <div>
        <img [src]="venue.imagePath" alt="Venue name" class="w-full h-20rem">
    </div>
    <div>
        <h3>{{ venue.name }}</h3>
    </div>
    <div>
        <h4 [style.color]="venueTypeColor()">{{ venueType }}</h4>
    </div>
    <div>
        @if (venue.highlightedDescription) {
            <p>...&nbsp;<span [innerHTML]="venue.highlightedDescription"></span>&nbsp;...</p>
        } @else {
            <p>{{ venue.description }}</p>
        }
    </div>
    <div class="flex gap-2 mt-auto w-full">
        <!-- View details button -->
        <button class="text-2xl w-full bg-primary border-none hover:bg-primary-200 border-round-lg p-2" [routerLink]="['/venue', venue.id]">
            <i class="pi pi-info-circle"></i>
        </button>

        @if (venue.pdfPath) {
            <button class="text-2xl w-full bg-red-500 hover:bg-red-600 text-white border-none border-round-lg p-2" (click)="downloadPdf()">
                <i class="pi pi-file-pdf"></i>
            </button>
        }
    </div>
</div>