<form
  [formGroup]="changePasswordForm"
  class="flex justify-content-center align-items-center flex-column"
>
  <div class="text-2xl font-semibold mb-4">Change Password</div>
  <div class="field w-full mb-4">
    <span class="p-float-label">
      <label for="old_password">Old Password</label>
      <p-password
        inputId="old_password"
        [feedback]="false"
        [toggleMask]="true"
        styleClass="w-full"
        inputStyleClass="w-full"
        formControlName="oldPassword"
        showDelay="300"
        hideDelay="300"
      ></p-password>
    </span>
  </div>

  <div class="field w-full mb-4">
    <span class="p-float-label">
      <label for="new_password">New Password</label>
      <p-password
        inputId="new_password"
        [feedback]="false"
        [toggleMask]="true"
        styleClass="w-full"
        inputStyleClass="w-full"
        formControlName="newPassword"
        [pattern]="passwordPattern"
        pTooltip="Password must contain at least 8 characters, one uppercase letter, one lowercase letter, one number and one symbol" 
        tooltipPosition="bottom"
        showDelay="300" 
        hideDelay="300"
      ></p-password>
    </span>
  </div>

  <div class="field w-full mb-4">
    <span class="p-float-label">
      <label for="confirm_password">Confirm New Password</label>
      <p-password
        inputId="confirm_password"
        [feedback]="false"
        [toggleMask]="true"
        styleClass="w-full"
        inputStyleClass="w-full"
        formControlName="newPasswordConfirmation"
        pTooltip="Confirm previously entered password" 
        tooltipPosition="bottom"
        showDelay="300"
        hideDelay="300"
      ></p-password>
    </span>
  </div>
</form>

<div class="flex justify-content-start">
  <p-button label="Submit" [disabled]="isButtonDisabled()" [loading]="isLoading" (onClick)="submitForm()"></p-button>
</div>
