<div class="flex justify-content-center mt-8 mt-4 flex-column align-items-center">
    <h1 class="text-primary text-center">Registration request management</h1>
    <div class="flex justify-content-start align-items-center flex-column lg:w-5 w-full overflow-y-scroll h-27rem" *ngIf="this.pendingRegistrationRequests.length > 0">
        <div *ngFor="let request of pendingRegistrationRequests; index as i" class="flex justify-content-between align-items-center shadow-1 bg-black-alpha-50 px-3 border-1 w-full border-gray-700">
            <div class="flex flex-column py-3">
                <span class="py-1">Username: <span>{{request.username}}</span></span>
                <span class="py-1">Email: <span>{{request.email}}</span></span>
                <span class="py-1">Submitted at: <span>{{formatDate(request.submittedAt)}}</span></span>
            </div>
            <div>
                <p-button severity="success" icon="pi pi-check" class="px-2" (onClick)="approveRequest(i)"></p-button>
                <p-button severity="danger" icon="pi pi-ban" class="px-2" (onClick)="rejectRequest(i)"></p-button>
            </div>
        </div>
    </div>
    <h3 *ngIf="this.pendingRegistrationRequests.length == 0" class="text-center text-primary-800">There are currently no pending registration requests</h3>
</div>