<div class="flex justify-content-center flex-column align-items-center mt-8 w-full">
    <h1 class="text-primary">Explore venues</h1>
    <form class="flex flex-column justify-content-center align-items-center w-full" [formGroup]="filterForm">
        <input type="text" pInputText class="mx-2 w-full lg:w-5 my-2 border-round-top-xl" id="input-filter" placeholder="Explore venues" formControlName="filter" />
        <p-select optionLabel="name" placeholder="Select venue type" class="mx-2 w-full lg:w-5 my-2 border-round-xs" [options]="this.venueTypes" formControlName="type" />
        <button class="mx-2 w-full lg:w-5 my-2 py-2 bg-primary border-none border-round-bottom-lg hover:bg-primary-200 font-bold" (click)="filter()">Search</button>
    </form>
    <div class="grid w-full mt-5">
        <div *ngFor="let venue of venues" class="md:col-3 p-2 col-12">
            <app-venue-card [venue]="venue"></app-venue-card>
        </div>
    </div>
    <p-paginator [first]="this.first" [rows]="this.rows" [totalRecords]="this.totalElements" (onPageChange)="onPageChange($event)" />
</div>