<div class="px-4 lg:px-8 mt-8 py-4">
  <div styleClass="p-4">
    <div class="flex flex-column align-items-center text-center">
      <p-avatar
        [image]="userProfile.imagePath"
        size="xlarge"
        shape="circle"
        styleClass="mb-3"
      >
      </p-avatar>
      <h2 class="mt-0 mb-1">{{ userProfile.username }}</h2>
    </div>

    <p-divider styleClass="my-4"></p-divider>

    <div class="grid mx-7">
      <div class="col-12 lg:col-7">
        <div class="flex justify-content-center align-items-center flex-column">
          <div class="text-2xl font-semibold mb-4">Personal Information</div>
          <div class="grid w-full">
            <div class="col-12 lg:col-5">
              <div class="flex align-items-start mb-4">
                <div class="border-bottom-1 border-gray-500">
                  <span class="text-color-secondary">Address</span>
                  <p class="font-bold text-lg mt-1 mb-0">{{userProfile.address}}</p>
                </div>
              </div>

              <div class="flex align-items-start mb-4">
                <div class="border-bottom-1 border-gray-500">
                  <span class="text-color-secondary">City</span>
                  <p class="font-bold text-lg mt-1 mb-0">{{userProfile.city}}</p>
                </div>
              </div>

              <div class="flex align-items-start lg:mb-4">
                <div class="border-bottom-1 border-gray-500">
                  <span class="text-color-secondary">Date of Birth</span>
                  <p class="font-bold text-lg mt-1 mb-0">{{userProfile.dateOfBirth}}</p>
                </div>
              </div>
            </div>
            <div class="col-12 lg:col-5">
              <div class="flex align-items-start mb-4">
                <div class="border-bottom-1 border-gray-500">
                  <span class="text-color-secondary">E-mail</span>
                  <p class="font-bold text-lg mt-1 mb-0">{{userProfile.email}}</p>
                </div>
              </div>
              <div class="flex align-items-start mb-4">
                <div class="border-bottom-1 border-gray-500">
                  <span class="text-color-secondary">Phone</span>
                  <p class="font-bold text-lg mt-1 mb-0">{{userProfile.phoneNumber}}</p>
                </div>
              </div>

            </div>
          </div>

          <div class="w-full flex justify-content-start">
            <p-button label="Edit personal information"></p-button>
          </div>
        </div>
      </div>

      <p-divider styleClass="my-3 lg:hidden"></p-divider>
      <div class="col-12 lg:col-5 my-3 md:my-0">
        <app-change-password></app-change-password>
      </div>
    </div>

    <p-divider styleClass="my-4"></p-divider>

  </div>
</div>
